*{
    padding:0px;
    margin:0px;
}
body{
    width: 100%;
    background-color:rgb(158, 126, 66) ;
    overflow-x: hidden;
    overflow-y:auto ;
    scrollbar-width: none;
}
header{
    background-color: rgb(255, 174, 0);
    height:auto;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1000;   
}
.shadow{
    width: 50vw;
    display: flex;
    z-index: 1001;
    position: sticky;
    right: 30vw;
    
    top: 0px;
    
}
.shadowempiar{
    width: 35vw;
    height:10vh ;
   
    
}
.napbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 10vh;
    margin-right:2vh;
    justify-content:space-between;
    position: relative;
    top: 4vh;
    border-radius: 10px;
   
}

                       /* maincontaner */

 .maincontaner{
    width: 100%; 
    height: 200vh;  
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: blueviolet;
    align-items: center;
       
}  
#logo{
    height: 25vh;
    width: 50vw;
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    position: relative;
    top: 2vh;
   
}          
.contaner1{
    height: 30vh;
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    position: relative;
    top:6vh;
    width: 80vw;
   
}      
.boder{
    border: 1px solid black;
    height:30vh;
    width: 80vw;
    box-shadow: inset 0vh 2vh 15vh black;
    border: hidden;
    border-radius: 20px;
    
    

}
hr{
    width: 75vw;
    display: flex;
    position: relative;
    left: 2.5vw;
    
   
}
.contaner2{
    height: 30vh;
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    position: relative;
    top: 9vh;
    width: 80vw;
}      
.contaner3{
   height: 30vh;
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    position: relative;
    top: 12vh;
    width: 80vw;

}      
.contaner4{
    height: 30vh;
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    position: relative;
    top: 15vh;
    width: 80vw;

}      
.contaner5{
    height: 30vh;
    margin: 7vw;
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    position: relative;
    top: 18vh;
    width: 80vw;
}      
      