*{
    padding:0px;
    margin:0px;
}
body{
    width: 100%;
    background-color:rgb(158, 126, 66) ;
    overflow-x: hidden;
    overflow-y:auto ;
    scrollbar-width: none;
}
header{
    background-color: rgb(255, 174, 0);
    height:auto;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1000;   
}
.shadow{
    width: 50vw;
    display: flex;
    z-index: 1001;
    position: sticky;
    left: 38vw;
    top: 0px;
    box-shadow: 0cqb;
    

}
.shadowempiar{
    width: 35vw;
    height:10vh ;
}
.napbar{
   
    display: flex;
    flex-direction: row;
    height: 10vh;
    margin-right:2vh;
    justify-content:space-between;
    position: relative;
    top: 4vh;
    border-radius: 10px;
   
}

                       /* maincontaner */

 .maincontaner{
    width: 100%;   
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: blueviolet;
    align-items: center;
   
}  
#logo{
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    position: relative;
    top: 10vh;
   
}          
.contaner1{
    height: 40vh;
   
    margin: 9vw;
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    position: relative;
    top: 9vh;
    width: 60vw;
   
}      
.boder{
    border: 2px solid black;
    height:40vh;
    width: 60vw;
    box-shadow: inset 0vh 2vh 15vh black;
    border: hidden;
    border-radius: 20px;
    border-bottom: 0px;
    

}
hr{
    border: 2px solid black;
    
    width: 55.5vw;
    box-shadow: inset 0vh 2vh 15vh black;

   
}
.contaner2{
    height: 40vh;
    margin: 7vh;
    background-color: blanchedalmond;
    border-radius: 20px;
    position: relative;
    top: 9vh;
    width: 60vw;

}      
.contaner3{
    height: 40vh;
    margin: 7vh;
    background-color: blanchedalmond;
    border-radius: 20px;
    position: relative;
    top: 9vh;
    width: 60vw;

}      
.contaner4{
    height: 40vh;
    margin: 7vh;
    background-color: blanchedalmond;
    border-radius: 20px;
    position: relative;
    top: 9vh;
    width: 60vw;

}      
.contaner5{
    height: 40vh;
    margin: 7vh;
    background-color: blanchedalmond;
    border-radius: 20px;
    position: relative;
    top: 9vh;
    width: 60vw;

}      
       */